@use "styles/components" as c;

.education {
  @include c.generalSection();
  @include c.inlineSection();

  .title {
    @include c.unlinedTitle();

    writing-mode: vertical-rl;
    text-orientation: upright;
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
  }

  &__items {
  }
}
