@use "styles/abstracts" as a;

.nav {
  @apply flex flex-col justify-center items-center px-2 py-10;
  padding-bottom: 15%;
  width: clamp(50%, 75%, 100%);

  @media screen and (min-width: a.$largeSize) {
    width: 50%;
  }

  &__link {
    text-align: center;
    cursor: pointer;
    padding-block: 0.5rem;
    padding-inline: 0.8rem;
    font-size: 0.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid a.$primary-a20;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid a.$primary-a20;
    }

    &:hover {
      background: a.$secondary-a50;
      color: white !important;
    }

    &__text {
      text-align: center;
    }
  }
}
