@use "styles/abstracts" as a;

.nav {
  @apply flex flex-col justify-center items-center bg-primary-grey-500 px-2 gap-2 py-10;
  position: sticky;
  top: 0;
  gap: 1rem;

  &__link {
    cursor: pointer;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-size: 1rem;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

    &:hover {
      background: a.$primary-purple;
      color: white;
    }
  }
}

