@use "styles/abstracts" as a;

.nav {
  @apply flex flex-col justify-center items-center px-2 gap-2 py-10;
  padding-bottom: 15%;
  width: 100%;

  &__link {
    cursor: pointer;
    padding-block: 0.5rem;
    padding-inline: 0.8rem;
    font-size: 0.3rem;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background: a.$primary-purple;
      color: white;
      font-weight: bold;
    }
  }
}
