@use "styles/abstracts" as a;
@use "styles/components" as c;

.skillPage {
  @include c.generalSection();
  width: 100%;
  flex-wrap: wrap;
  padding-inline: 1rem;

  .title {
    @include c.linedTitle(a.$black-a50);
    width: 30%;
  }
}
