.card {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  border-radius: 30px !important;
  max-width: 100%;
  margin-inline: 1rem;

  &__content {
    padding: 0;
    margin: 0;
  }

  &__imageWrapper {
    height: 200px;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hoverWrapper {
  box-shadow: none !important;
}
