.card {
  &__content {
    padding: 0;
    margin: 0;
  }

  &__imageWrapper {
    position: relative;
    height: 100px;
    width: 100%;
  }
}

.hoverWrapper {
  box-shadow: none !important;
  border-radius: 0 !important;
}
