@use "styles/components" as c;

.achievements {
  @include c.generalSection()

}

.title {
  @include c.unlinedTitle();

  writing-mode: vertical-rl;
  text-orientation: upright;
  grid-row: 1 / -1;
  grid-column: 1 / span 1;
}

.items {
  max-width: 35rem;
}
