$primary-a0: #ffffff;
$primary-a10: #c9dede;
$primary-a20: #93bebd;
$primary-a30: #5b9f9e;
$primary-a50: #008080;
$primary-a60: #135f5f;
$primary-a70: #15403f;
$primary-a80: #112322;
$primary-a90: #000000;


$secondary-a0: #ffffff;
$secondary-a10: #e6c2b9;
$secondary-a20: #c98877;
$secondary-a30: #a74e3a;
$secondary-a50: #800000;
$secondary-a60: #600d01;
$secondary-a70: #420f01;
$secondary-a80: #260d00;
$secondary-a90: #000000;
