$primary-a0: #ffffff;
$primary-a05: #ddeaea;
$primary-a10: #c9dede;
$primary-a20: #93bebd;
$primary-a30: #5b9f9e;
$primary-a50: #008080;
$primary-a60: #135f5f;
$primary-a70: #15403f;
$primary-a80: #112322;
$primary-a90: #000000;


$secondary-a0: #ffffff;
$secondary-a05: #e6eef5;
$secondary-a10: #cfddec;
$secondary-a20: #9ebbd8;
$secondary-a30: #6c9bc5;
$secondary-a50: #2c7cb2;
$secondary-a60: #275c82;
$secondary-a70: #203e55;
$secondary-a80: #16222c;
$secondary-a90: #000000;
