@use "styles/abstracts" as a;
@use "styles/components" as c;

.submenu {
  z-index: 9999;

  .title {
    letter-spacing: 2px;
  }

  @media screen and (min-width: a.$mediumSize)  {
    min-width: 9rem;
    position: absolute;
    top: calc(3rem + 2rem);
    left: 0;
    list-style: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    background-color: a.$primary-purple-750;
    border-radius: 5px;
    z-index: 999;
  }

}

.hiddenMenu {
  @extend .submenu;
  opacity: 0;
  transition: opacity 0.5s 0s;
}
