@use "styles/abstracts" as a;
@use "styles/components" as c;

.submenu {
  display: none;

  @media screen and (min-width: a.$medium_size)  {
    width: 11rem;
    position: fixed;
    top: 10.2vh;
    list-style: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    background-color: a.$primary-purple-750;
    border-radius: 5px;
  }

}
