@use "/styles/components" as c;
@use "/styles/abstracts" as a;

.footer {
  bottom: 0;
  position: sticky;
}

.page {
  padding-inline: 3rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 1.5rem;
  }

  @media screen and (min-width: a.$mediumSize) {
    padding-inline: 10rem;
    padding-block: 3rem;

  }

  .button {
    @include c.hover-fill-button(a.$primary-a50, a.$secondary-a50)
  }
}
