@use "/styles/abstracts" as a;

.content {
  scrollbar-gutter: stable both-edges;
  margin: 0 !important;

  .left {
  }

  .center {
    gap: 5rem;
  }

  .right {
    position: sticky;
    top: 5%;
    gap: 1rem;

    .copyrightLogo {
      margin-top: 12rem;
      margin-bottom: 2.5rem;
      font-size: 2rem;
      text-transform: none;
      font-weight: normal;
      letter-spacing: 0;
      rotate: -10deg;
      color: a.$primary-a70;
    }
  }
}
