@mixin rippleEffect($hover-colour, $ripple-colour, $rippleSelector) {
  #{$rippleSelector} {
    background-position: center;
    transition: background 0.6s;

    &:hover {
      background: $hover-colour radial-gradient(circle, transparent 1%, $hover-colour 1%) center/15000%;
    }

    &:active {
      background-color: $ripple-colour;
      background-size: 100%;
      transition: background 0s;
    }
  }
}
