@use "styles/abstracts" as a;

@mixin generalSection() {
  padding-block: 3rem;
  width: 100%;

  @media screen and (min-width: a.$mediumSize) {
    padding-inline: 4rem;
  }
}

@mixin bannerPage() {
  @include generalSection();

  background-color: a.$black-a70;
  color: a.$black-a10;
  margin: 0;
}

@mixin inlineSection() {
  @include generalSection();

  @media screen and (min-width: a.$mediumSize) {
    padding-inline: 6rem;
  }

  @media screen and (min-width: a.$largeSize) {
    padding-inline: 10rem;
  }

  @media screen and (min-width: a.$xtralargeSize) {
    padding-inline: 14rem;
  }
}
