@mixin bannerPage() {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 -2px 1px -1px rgb(0 0 0 / 20%), 0 -1px 1px 0 rgb(0 0 0 / 14%), 0 -1px 3px 0 rgb(0 0 0 / 12%);
  background-color: var(--primaryGrey);
  height: auto;
}


@mixin generalSection() {
  margin-block: 5rem;
  width: 100%;
}

@mixin inlineSection() {
  padding-inline: 10rem;
}
