@mixin unlinedTitle() {
  margin-bottom: 1.5rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 10px !important;
  text-align: center;
}

@mixin linedTitle() {
  @include unlinedTitle();

  width: 50%;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid black;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}
