.page {
  @apply flex flex-row justify-center items-center gap-12;
  padding-block: 1.5rem;
  width: 100vw;
  background: rgba(0, 0, 0, 0.71);

  .email {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
  }

  .logo {
    width: 1.8rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    height: 100%;
  }
}
