@use "styles/abstracts" as a;

.left_side__image {
  display: none;

  @media screen and (max-width: a.$mediumSize) {
    object-fit: contain;
    max-width: 8rem;
  }
}

.timelineContent {
  width: 100%;

  @media screen and (max-width: a.$mediumSize) {
    width: 35rem;
  }
}

.content {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}



