@use "styles/abstracts" as a;
@use "styles/components" as c;

.navbar {
  @apply flex flex-col relative pt-4 pb-2  bg-primary-a70 md:flex-row md:w-full md:justify-center md:items-center;
  box-shadow: none;

  @media screen and (min-width: a.$mediumSize) {
    -webkit-box-shadow: 0 3px 8px -2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0 3px 8px -2px rgba(51, 51, 51, 1);
    box-shadow: 0 3px 8px -2px rgba(51, 51, 51, 1);
    transition: top 0.5s;
  }

  .smallScreenNav {
    @media screen and (max-width: a.$mediumSize) {
      width: 100%;
    }
  }

  .logo {
    font-size: 2rem;
    text-transform: none;
    color: white;
    letter-spacing: 0;
  }

  &__items {
    list-style: none;

    a {
      letter-spacing: 3px;
      @media screen and (min-width: a.$mediumSize) {
        letter-spacing: 5px;
      }
    }
  }
}
