@use "styles/abstracts" as a;
@use "styles/components" as c;

.navbar {
  @apply flex flex-col relative pt-4 pb-2 md:flex-row md:w-full md:justify-center md:items-center;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.597);
  z-index: 999;
  transition: top 0.5s;
  background-image: linear-gradient(to right, a.$secondary-a70, a.$secondary-a60);

  .smallScreenNav {
    @media screen and (max-width: a.$mediumSize) {
      width: 100%;
    }
  }

  .logo {
    font-size: 2rem;
    text-transform: none;
    color: white;
    letter-spacing: 0;
  }

  &__items {
    list-style: none;

    a {
      letter-spacing: 3px;
      @media screen and (min-width: a.$mediumSize) {
        letter-spacing: 5px;
      }
    }
  }

  @media screen and (max-width: a.$smallSize) {
    @apply py-2;

    position: sticky;
    top: 0;

    .logo {
      font-size: 1.2rem;
    }

    .smallScreenIcon {
      font-size: 1.2rem;
    }

    .navItem {
      &__text {
        @apply py-1;
        font-size: 0.75rem;
      }
    }
  }
}
