@use "styles/abstracts" as a;
@use "styles/components" as c;

.showNavbar {
  top: 0;
}

.hideNavbar {
  top: -10vh;
}

.navbar {
  @apply flex flex-col relative pt-4 pb-2  bg-primary-purple md:flex-row md:fixed md:w-full md:justify-center md:items-center;
  height: auto;
  box-shadow: none;

  @media screen and (min-width: a.$medium_size) {
    -webkit-box-shadow: 0px 3px 8px -2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 8px -2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 8px -2px rgba(51, 51, 51, 1);
    height: 10vh;
    transition: top 0.5s;
    z-index: 100;
  }

  &__items {
    list-style: none;
    width: 70vw;

    a {
      letter-spacing: 3px;
      @media screen and (min-width: a.$medium_size) {
        letter-spacing: 5px;
      }
    }
  }
}
