@use "styles/components" as c;
@use "styles/abstracts" as a;

.card {
  box-shadow: none !important;
  border: 1px solid a.$primary-a50;
  border-radius: 0 !important;
  height: 100%;
  border-radius: 1rem !important;

  &__content {
    .description {
      font-size: 0.875rem;
    }

    .imageWrapper {
      position: relative;
      height: 25px;
      text-align: left;
    }

    .skill {
      // background-image: linear-gradient(to right, a.$primary-a50, a.$secondary-a50);
      background: a.$primary-a10;
      padding: 0.5rem;
      color: a.$primary-a70;
      box-shadow: 0px 0px 2px 1px a.$primary-a20;

      &__text {
        font-size: 0.75rem;
      }
    }
  }

  .logo,
  .appLink {
    font-size: 1.2rem;

    &:hover {
      color: a.$secondary-a50;
    }
  }
}
