@use "styles/components" as c;
@use "styles/abstracts" as a;

.card {
  box-shadow: none !important;
  border: 1px solid a.$primary-a50;
  border-radius: 0 !important;
  height: 100%;

  &__content {
    .description {
      font-size: 0.875rem;
    }

    .imageWrapper {
      position: relative;
      height: 25px;
      text-align: left;
    }

    .skill {
      background-color: a.$primary-a50;
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: white;

      &__text {
        font-size: 0.75rem;
      }
    }
  }

  .logo, .appLink {
    font-size: 1.2rem;

    &:hover {
      color: a.$secondary-a50;
    }
  }

}
