@use "./components" as c;
@use "./abstracts" as a;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-lato;
  overscroll-behavior: none;
  scrollbar-gutter: auto;
  max-width: 100vw;
  overflow-x: hidden;
  background: a.$primary-blue-100;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 80vh;
}


// Utilities
.hide {
  display: none !important;
}

// Element-specific styles
a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply break-normal;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  color: a.$primary-blue;
  letter-spacing: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 5px;
}

h6 {

}

p {
  font-size: 1rem;
  //max-width: 25ch;
  text-align: left;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

// Components
.banner_page {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 -2px 1px -1px rgb(0 0 0 / 20%), 0 -1px 1px 0 rgb(0 0 0 / 14%), 0 -1px 3px 0 rgb(0 0 0 / 12%);
  background-color: var(--primaryGrey);
  width: 100%;
  height: auto;
}