@use "./components" as c;
@use "./abstracts" as a;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior-x: none;
  width: 100%;
}

body {
  @apply font-epilogue;
  scrollbar-gutter: stable both-edges;
  display: flex;
  flex-direction: column;
  overscroll-behavior-x: none;
  color: a.$black-a50;
  background: white;

  @media screen and (min-width: a.$mediumSize) {
    background: a.$primary-a05;
  }
}

main {
  width: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}

// Utilities
.hide {
  display: none !important;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: a.$secondary-a70;
}

.link:hover {
  color: a.$secondary-a10;
}

// Element-specific styles
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-epilogue;
  @apply break-normal;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 60ch;
  color: a.$black-a70;
}

h1 {
  @apply font-epilogue;
  @apply break-normal;
  font-size: clamp(1.8rem, 1.6385rem + 0.7179vw, 2.5rem);
  text-align: center;
  letter-spacing: 8px;
  font-weight: bold;
}

h2 {
  font-size: clamp(1.2rem, 1.0846rem + 0.5128vw, 1.7rem);
  letter-spacing: 10px;
}

h3 {
  font-size: clamp(1rem, 0.9077rem + 0.4103vw, 1.4rem);
  letter-spacing: 4px;
}

h4 {
  font-size: clamp(0.9rem, 0.8077rem + 0.4103vw, 1.3rem);
  letter-spacing: 2px;
}

p {
  @apply font-epilogue;
  text-align: left;
  font-size: clamp(0.9rem, 0.8308rem + 0.3077vw, 1.2rem);
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: a.$primary-a70;
  border-radius: 12px;
}

// Scrollspy
.active-scroll-spy {
  transition: 0.2s ease-in-out;
  background: a.$secondary-a50;
  color: white !important;
}

// Material UI
.MuiAccordionSummary-expandIconWrapper {
  @apply hidden md:block;
}

// Mixin blocks
@include c.rippleEffect(a.$primary-a10, a.$primary-a20, ".ripple");
