@use "./components" as c;
@use "./abstracts" as a;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior-x: none;
  width: 100%;
}

body {
  @apply font-sourceSansThree;
  scrollbar-gutter: stable both-edges;
  background: a.$primary-blue-100;
  display: flex;
  flex-direction: column;
  overscroll-behavior-x: none;
}

main {
  width: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}

// Utilities
.hide {
  display: none !important;
}

// Element-specific styles
a {
  cursor: pointer;
  text-decoration: none;
  color: a.$primary-blue-500;
}

a:hover {
  color: a.$primary-purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-epilogue;
  @apply break-normal;
  font-weight: 400;
  text-transform: uppercase;
  color: a.$primary-blue;
  max-width: 60ch;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 15px;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 10px;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

h4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

p {
  @apply font-sourceSansThree;
  font-size: 1rem;
  //max-width: 25ch;
  text-align: left;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

// Scrollspy
.active-scroll-spy {
  transition: 0.1s ease-in-out;
  background: a.$primary-purple;
  color: white;
  font-weight: bold;
}
