@use "styles/abstracts" as a;
@use "styles/components" as c;

.biography {
  @include c.inlineSection();

  .title {
    @include c.linedTitle(a.$black-a50);
    width: 40%;
  }

  .subtitle {
    @apply font-epilogue;
    letter-spacing: 3px;
    align-self: center;
    color: a.$secondary-a50;
  }
}
