@use "styles/abstracts" as a;
@use "styles/components" as c;

.biography {
  @include c.bannerPage();
  @include c.inlineSection();

  .title {
    @include c.linedTitle();
    width: 40%;
  }

  .subtitle {
    font-size: 1.2rem;
    letter-spacing: 3px;
    align-self: center;
    color: a.$secondary-a50;
  }
}
